DJANGO_SECRET_KEY=replace-with-your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

SHOP_OPEN_TIME=09:00
SHOP_CLOSE_TIME=20:00

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_NOTIFICATIONS_ENABLED=False
TELEGRAM_API_TIMEOUT=10