# Виртуальные окружения
.venv/
venv/
env/

# Секретные настройки
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
*.log

# Демонстрационные изображения товаров
media/*
!media/products/
!media/products/**

# Тесты и покрытие
.pytest_cache/
.coverage
htmlcov/

# Редакторы
.idea/
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Временные файлы
*.tmp
*.bak*.bak